$imagePath: "./assets/images/";

footer {
  padding: 15px;
  background: #6a6a6a;
  color: #a6a6a6;
  font-size: 12px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

footer .footer-nav ul {
  list-style-type: none;
  padding: 0;
}

footer .footer-nav ul li {
  display: inline-block;
}

footer .footer-nav ul li a {
  color: #fff;
  margin-right: 8px;
  text-decoration: underline;
}
footer .footer-nav ul li a:hover {
  color: #a6a6a6;
}

footer .provided {
  color: #a6a6a6;
  text-transform: uppercase;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

footer .f-logo {
  background: url($imagePath+"logo_white.svg") no-repeat;
  width: 97px;
  height: 20px;
}
